<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">

                <span class="copyright">&copy;2019 On the minute</span> | 
                <ul class="footer-nav">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Faq</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Terms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Billing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy</a>
                        </li>
                </ul>
                
                <ul class="switch-lang">
                    <li><a href="" class="lang-flags usa-flag"><span class="invisible">English</span></a></li>
                    <li><a href="" class="lang-flags spain-flag"><span class="invisible">Spanish</span></a></li>
                </ul>

            </div>
        </div>
    </div>
</footer>