<app-header-purple></app-header-purple>

<section class="container about">
    <div class="row">
        <div class="col-12 col-md-12 about-inner">
            
            <h3>Home / About</h3>
            
            <h2>Meet The Team</h2>
            
            <div class="meet-team row">
                <div class="col-12 col-md-3">
                    <div class="picture valentina"></div>
                </div>
                <div class="col-12 col-md-9 text">
                    <h3><strong>Valentina Rodríguez</strong> / Founder</h3>
                    <p>Valentina has been involved in fitness since her early years passing thru several sports, but it wasn’t until college when she was truly challenged once she made the Varsity Rowing team and became a school athlete for 4 years. After graduating, Valentina joined the crossfit community where she met her Coach and now husband Coach Mono.<br>
2 pregnancies and a couple of years later, she strongly believes the human body can achieve incredible and positive results when is well guided and constantly challenged.<br><br>

Valentina has been an inspiration for new moms and moms to be as she competed when she was 3 and 7 months pregnant and only 2 months after giving birth showing strength and tenacity not only physically but also mentally.
</p>
                </div>
            </div>
            
            <div class="meet-team row">
                <div class="col-12 col-md-3">
                    <div class="picture mono"></div>
                </div>
                <div class="col-12 col-md-9 text">
                    <h3><strong>Gerardo Molina</strong> / Co Founder </h3>
                    <p>Coach Mono started his career at the early age of 20, as an assistant coach for Van Nuys high school (Ca) soccer junior varsity team. With a background in several sports and strong leadership skills, he was able to become Head Coach by the age of 22 and winning the first ever city championship for that high school.<br><br>

Moving to Florida, years later, he was introduced to Crossfit. It became a passion and then a new career. Coaching, teaching, and helping others achieve their fitness goals has made him start from a volunteer assistant trainer to co-owner of Dafactory Training Facility.<br><br>

In the last 4 years, programming workouts has been his main focus. Making them effective, creative, and improving athlete’s quality of life. Thru his career as a coach he has train over 5 pregnant women all with beautiful strong and healthy kids now, including his wife 2 pregnancies where she competed locally and trained until 2 days prior to giving birth.
</p>
                </div>
            </div>
            
            <div class="meet-team row">
                <div class="col-12 col-md-3">
                    <div class="picture tania"></div>
                </div>
                <div class="col-12 col-md-9 text">
                    <h3><strong>Tania Bocaranda</strong> / Co Founder </h3>
                    <p>After playing various sports during high school, Tania found her true passion in fitness when she started Crossfit in 2013. Following her competitive side, she challenged herself through local competitions where she gained knowledge and experience.<br><br>

She was given the opportunity to start as an assistant coach, where she was in charge of the onboarding of new members as well as helping out the head coach during class. <br>
Tania has been consistently training and coaching for the past 4 years and lately started getting involved in the programming side of fitness.
</p>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Footer -->
<!-- Follow the minute -->
<section class="newsletter">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">

        <div class="follow-otm col-md-5">
            <h2><strong>Follow on the minute</strong></h2>
            <ul>
                <li><a href="" class="facebook"><span class="invisible">facebook</span></a></li>
                <li><a href="" class="instagram"><span class="invisible">instagram</span></a></li>
                <li><a href="" class="twitter"><span class="invisible">twitter</span></a></li>
                <li><a href="" class="youtube"><span class="invisible">youtube</span></a></li>
                <li><a href="" class="pinterest"><span class="invisible">pinterest</span></a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>