<app-header-blank></app-header-blank>
<div class="banner-create-account">
    <h2>Welcome to on the minute<br>
    <p>We just need a few details to help you</p></h2>
</div>
<div class="container create-account">
    <div class="row">
        <div class="col-12 col-md-12">
            
            <form class="col-md-5">
            <div class="form-group">
    
              <label for="yourfirstname">Your First Name</label>
              <input type="text" class="form-control" id="yourfirstname" placeholder="Your first name">
              
              <label for="yourlastname">Your Last Name</label>
              <input type="text" class="form-control" id="yourlastname" placeholder="Your last name">
                
              <label for="youremail">Email</label>
              <input type="email" class="form-control" id="youremail" placeholder="Your email">
              
              <label for="confirmemail">Confirm email</label>
              <input type="email" class="form-control" id="confirmemail" placeholder="Confirm email">
              
              <label for="exampleInputPassword1">Choose password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="newsletter-subscribe">
                <label class="form-check-label" for="newsletter-subscribe">Send me a welcome email, blogs & more.</label>
              </div>
            </div>
            <p>BY CREATING AN ACCOUNT, I ACCEPT ON THE MINUTE <a href="">PRIVACY POLICY, TERMS & CONDITIONS AND BILLING TERMS</a></p>
            <input type="submit" value="SIGN IN" class="submit-newsletter" routerLink="choose-plan">
            
        </form>
            
        </div>
    </div>
</div>

<!-- Follow the minute -->
<section class="newsletter">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">

        <div class="follow-otm col-md-5">
            <h2><strong>Follow on the minute</strong></h2>
            <ul>
                <li><a href="" class="facebook"><span class="invisible">facebook</span></a></li>
                <li><a href="" class="instagram"><span class="invisible">instagram</span></a></li>
                <li><a href="" class="twitter"><span class="invisible">twitter</span></a></li>
                <li><a href="" class="youtube"><span class="invisible">youtube</span></a></li>
                <li><a href="" class="pinterest"><span class="invisible">pinterest</span></a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>