<app-header-blank></app-header-blank>
<div class="banner-choose-plan">
    <h2>Great goal,<br>
    ejemplo@email.com<br>
    <p>Your first 7 days are free.<br>
    <strong>How committed are you?</strong></p></h2>
</div>

<!-- Plans -->
<section class="programs container">
    <div class="row">
        <div class="plans col-12 col-md-9">
            
            <div class="program-card row plan">
                <div class="col-12 col-md-9 col-sm-12 info">
                    <h5 class="day-night">Day or Night Program</h5>
                    <p>Includes:<br>
                    Full programming<br>
                    Coaching<br>
                    video movement standards</p>
                </div>
                <div class="col-12 col-md-3 col-sm-12 price">
                    <h4>1 Month<br>
                    <strong>$17.99</strong></h4>
                </div>
            </div>
            
            <div class="program-card row plan">
                <div class="col-12 col-md-9 col-sm-12 info">
                    <h5 class="pregnant">Pregnant Program</h5>
                    <p>Includes:<br>
                    Full programming<br>
                    Coaching<br>
                    video movement standards</p>
                </div>
                <div class="col-12 col-md-3 col-sm-12 price">
                    <h4>1 Month<br>
                    <strong>$15.99</strong></h4>
                </div>
            </div>
            
            <div class="program-card row plan">
                <div class="col-12 col-md-9 col-sm-12 info">
                    <h5 class="gym-program">Gym Program</h5>
                    <p>Includes:<br>
                    Full programming<br>
                    Coaching<br>
                    video movement standards</p>
                </div>
                <div class="col-12 col-md-3 col-sm-12 price">
                    <h4>1 Month<br>
                    <strong>$25.99</strong></h4>
                </div>
            </div>
            
            <!-- Plans END -->
            
        </div>
        
        <div class="col-12 col-md-5 have-code">
            <p>Do you have a code?</p>
            <input type="text" class="form-control" id="yourfirstname" placeholder="Your code">
            <input type="submit" value="NEXT" class="submit-newsletter">
        </div>
        <p class="privacy-policy">Read the On The Minute <a href="">Privacy Policy, Terms & Conditions and Billing Terms</a></p>
    </div>
</section>

<!-- Follow the minute -->
<section class="newsletter">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">

        <div class="follow-otm col-md-5">
            <h2><strong>Follow on the minute</strong></h2>
            <ul>
                <li><a href="" class="facebook"><span class="invisible">facebook</span></a></li>
                <li><a href="" class="instagram"><span class="invisible">instagram</span></a></li>
                <li><a href="" class="twitter"><span class="invisible">twitter</span></a></li>
                <li><a href="" class="youtube"><span class="invisible">youtube</span></a></li>
                <li><a href="" class="pinterest"><span class="invisible">pinterest</span></a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>