<app-header-purple></app-header-purple>

<section class="programs container">
    <div class="row">
        <div class="col-12 col-md-12">
            
            <h3>Home / Programs</h3>
            
            <h2>Our Programs</h2>
            
            <!-- Plans -->
            
            <div class="program-card row plan">
                <div class="col-12 col-md-3 col-sm-12 daynight-img"></div>
                <div class="col-12 col-md-7 col-sm-12 info">
                    <h5 class="day-night">Day or Night Program</h5>
                    <p>A program based on daily intense cardio workouts to be done with limitted 
equipment and limitted time! For all levels of fitness.</p>
                </div>
                <div class="col-12 col-md-2 col-sm-12 price">
                    <h4>1 Month<br>
                    <strong>$17.99</strong></h4>
                </div>
            </div>
            
            <div class="program-card row plan">
                <div class="col-12 col-md-3 col-sm-12 pregnant-img"></div>
                <div class="col-12 col-md-7 col-sm-12 info">
                    <h5 class="pregnant">Fit Mom Program</h5>
                    <p>A program design for the pregnant mom to stay active during her nine
months. No equipment necessary or a pair of light dumbbells would be ideal. 
This program can also help you on your first months of Postpartum</p>
                </div>
                <div class="col-12 col-md-2 col-sm-12 price">
                    <h4>1 Month<br>
                    <strong>$15.99</strong></h4>
                </div>
            </div>
            
            <div class="program-card row plan">
                <div class="col-12 col-md-3 col-sm-12 gym-img"></div>
                <div class="col-12 col-md-7 col-sm-12 info">
                    <h5 class="gym-program">Gym Program</h5>
                    <p>This program is based on intense crossfit workouts having as a priority logistics
for an average of 30 people per class. The workouts are 20 min on average and
are combine 3 times per week with strength/lifting part.</p>
                </div>
                <div class="col-12 col-md-2 col-sm-12 price">
                    <h4>1 Month<br>
                    <strong>$25.99</strong></h4>
                </div>
            </div>
            
            <!-- Plans END -->
            
        </div>
    </div>
</section>

<!-- Follow the minute -->
<section class="newsletter">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">

        <div class="follow-otm col-md-5">
            <h2><strong>Follow on the minute</strong></h2>
            <ul>
                <li><a href="" class="facebook"><span class="invisible">facebook</span></a></li>
                <li><a href="" class="instagram"><span class="invisible">instagram</span></a></li>
                <li><a href="" class="twitter"><span class="invisible">twitter</span></a></li>
                <li><a href="" class="youtube"><span class="invisible">youtube</span></a></li>
                <li><a href="" class="pinterest"><span class="invisible">pinterest</span></a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>