.programs{
    font-family: "Montserrat";
    margin-bottom:2em;
}
.programs h3{
    color:#999999;
    font-size:14px;
    margin-top:2em;
}
.programs h2{
    color:#752F8A;
    font-size:32px;
    font-weight:bold;
    margin-bottom: 1em
}
.program-card{
    background-color:#B894C3;
    border-radius:10px;
    color:#fff;
    padding:1em;
    transition:background .3s;
    margin-bottom: 1em
}
.program-card:hover{
    background-color:#752F8A;
}

/* Plans */
.pregnant-img{
    display:flex;
    width:100%;
    min-height: 200px;
    background:url('src/app/programs/img/fitmom.jpeg') left no-repeat;
    background-size:cover;
}
.gym-img{
    display:flex;
    width:100%;
    min-height: 200px;
    background:url('src/app/programs/img/gym-img.png') left no-repeat;
    background-size:cover;
}
.daynight-img{
    display:flex;
    width:100%;
    min-height: 200px;
    background:url('src/app/programs/img/day-night-img.png') left no-repeat;
    background-size:cover;
}

.price{
    display:flex;
    align-items: center;
  justify-content: center;
}
.price h4{
    font-size:24px;
    font-weight: bold
}
.price h4 strong{
    font-size:32px;
    font-weight:600;
}

/* --------------
    Mobile
    ----------*/
    
@media (max-width: 575.98px) {
    
    .programs h3{
        margin-top: 9em;
        margin-left:.5em;
    }
    .programs h2{
        margin-left:.2em;
    }
    
    .program-card{
        width:95%;
        margin:0 auto;
        
        margin-bottom: 1em
    }
    
    .pregnant-img{
        min-height: 150px;
        max-height: 150px
    }
    .gym-img{
        min-height: 150px;
        max-height: 150px
    }
    .daynight-img{
        min-height: 150px;
        max-height: 150px
    }
    .info{
        padding:0;
    }
    
    .program-card h5{
        margin-top:1em;
        font-size:16px;
    }
    .program-card p{
        font-size:14px;
    }
    
    .price{
        align-items: left;
        justify-content: left;
        padding:0;
        
        margin-top:.5em;
    }
    .price h4{
        font-size:16px;
    }
    .price h4 strong{
        font-size:16px;
        margin-left:.5em;
    }
    .price h4 br{
        display:none
    }
}