<app-header-blank></app-header-blank>

<section class="login container">
    
    <div class="row">
        <div class="col-12 col-md-12">
            
            <h2>Login</h2>
            
             <form class="col-md-5">
            <div class="form-group">
    
              <label for="youremail">Email</label>
              <input type="email" class="form-control" id="youremail" placeholder="Your email">
              
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <input type="submit" value="SIGN IN" class="submit-newsletter">
            
            <a routerLink="/create-account">Create account</a>
            <a href="">I can’t remember my password?</a>
            
        </form>
            
        </div>
    </div>
    
</section>

<!-- Follow the minute -->
<section class="newsletter">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">

        <div class="follow-otm col-md-5">
            <h2><strong>Follow on the minute</strong></h2>
            <ul>
                <li><a href="" class="facebook"><span class="invisible">facebook</span></a></li>
                <li><a href="" class="instagram"><span class="invisible">instagram</span></a></li>
                <li><a href="" class="twitter"><span class="invisible">twitter</span></a></li>
                <li><a href="" class="youtube"><span class="invisible">youtube</span></a></li>
                <li><a href="" class="pinterest"><span class="invisible">pinterest</span></a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>