*, html{
    font-family:"Montserrat";
}
.navbar-nav{
    margin-left:auto;
}

.navbar-nav li{
    font-weight:bold;
}
.navbar-nav li a{
    color:#999999;
    font-size:16px;
    font-weight:500;
}

.login-icon{
    font-weight: 700;
    color:#752F8A;
    font-size:16px
}

.search-form-header{
    margin-right:.5em;

}

.search-btn{
    color:#752F8A;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat";
    background-color:transparent;
    border:0;
}

/* icons */
.search-btn::before{
    content:'';
    display:inline-block;
    background:url(src/app/header/icons/search.svg) center no-repeat;
    background-size:contain;
    height:1em;
    width:1em;
    vertical-align: middle;
    margin-right:.5em;
}

.login-icon::before{
    content:'';
    display:inline-block;
    background:url(src/app/header/icons/login.svg) center no-repeat;
    background-size:contain;
    height:1.5em;
    width:1.5em;
    vertical-align: middle;
    margin-right:.5em;
}

.vr{
    display:inline-block;
    height:1.5em;
    width:2px;
    background:url(src/app/header/icons/line.svg) center no-repeat;
    background-size:contain;

    margin-right:.5em;
    margin-left:.5em;
}

.form-end{
    display: flex;
    justify-content: flex-end;
}

/* On Scroll - Fixed Top Bar */
.dashboard-top{
    background-color: #FFF;
    color:#fff;
    min-height:100px;

    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.15);
box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.15);
}

.dashboard-top .navbar-nav li a, .dashboard-top .login-icon, .dashboard-top .search-btn, .dashboard-top .vr{
    color:#999999;
}

.dashboard-top .otm-logo{
    background:url(src/app/header/icons/otmlogo.svg) left no-repeat !important;
    height:2em;
    width:6em;
    display: flex;
    background-size:contain !important;
}

.dashboard-top .search-btn::before{
    content:'';
    display:inline-block;
    background:url(src/app/header/icons/search-white.svg) center no-repeat;
    background-size:contain;
    height:1em;
    width:1em;
    vertical-align: middle;
    margin-right:.5em;
}

.dashboard-top .login-icon::before{
    content:'';
    display:inline-block;
    background:url(src/app/header/icons/login-white.svg) center no-repeat;
    background-size:contain;
    height:1.5em;
    width:1.5em;
    vertical-align: middle;
    margin-right:.5em;
}

.dashboard-top .vr{
    background:url(src/app/header/icons/line-white.svg) center no-repeat;
}

/* 
Search Bar Expand
*/
.searchbox{
    position:relative;
    min-width:30px;
    width:0%;
    height:30px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:transparent;
    width:100%;
    height:30px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:1em;
    color:#dcddd8;
}
.dashboard-top .searchbox-input{
    color:#fff
}
.searchbox-input::-webkit-input-placeholder {
    color: #dcddd8;
}
.searchbox-input:-moz-placeholder {
    color: #dcddd8;
}
.searchbox-input::-moz-placeholder {
    color: #dcddd8;
}
.searchbox-input:-ms-input-placeholder {
    color: #dcddd8;
}

.searchbox-icon,
.searchbox-submit{
    width:30px;
    height:30px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:30px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
    background:transparent;
}



.searchbox-open{
    width:50%;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #dcddd8;
}

.top-search-visible{
    width:80%;
    margin:0 auto;
    display:block;
    background-color:red;
}


/* Dashboard */

.searchbox-dashboard{
    margin:0;
}

.dashboard-search{
    background-color:#fff; /* change */
    
}

.ds-input{
    background-color:#F2F2F2;
    border-right:0;
}

.ds-icon-bg{
    background-color:#F2F2F2;
}
.ds-icon{
    display:inline-block;
    background:url(src/app/header/icons/search.svg) center no-repeat;
    background-size:contain;
    height:1.5em;
    width:1.5em;
    vertical-align: middle;
    margin-right:.5em;
    
    border:0;
}

.margin-auto{
    margin:0 auto;
}

.blog-icon::before, .videos-icon::before, .favorites-icon::before, .account-icon::before{
    content:'';
    display:inline-block;
    vertical-align: middle;
    height:20px;
    width:20px;
    background-color:red;
    margin-right:.5em;
    background-size:contain;
}
.blog-icon::before{
    background:url(icons/blog.svg) center no-repeat;
}
.videos-icon::before{
    background:url(icons/videos.svg) center no-repeat;
}
.favorites-icon::before{
    background:url(icons/favorites.svg) center no-repeat;
}
.account-icon::before{
    background:url(icons/account.svg) center no-repeat;
}

@media (max-width: 575.98px){
    .fixed-bottom-bar{
        position:fixed;
        bottom:0;
        background-color:#752F8A;
        display:flex !important;
        z-index:10;
        width:100%;
        margin-bottom: 0;
    }
    .fixed-bottom-bar li{
        display:block;
        list-style-type: none;
        float:left;
        color:#fff;
        font-size:10px;
    }
    .fixed-bottom-bar a{
        color:#fff;
        text-align: center
    }
    .fixed-bottom-bar a::before{
        content:'';
        width:20px;
        height:20px;
        display:block;
        margin:0 auto;
        margin-bottom: .5em;
        background-size:contain;
    }
    .blog-icon-m::before{
        background:url(src/assets/images/blog-w.svg) center no-repeat;
    }
    .videos-icon-m::before{
        background:url(src/assets/images/videos-w.svg) center no-repeat;
    }
    .favorites-icon-m::before{
        background:url(src/assets/images/favorites-w.svg) center no-repeat;
    }
    .account-icon-m::before{
        background:url(src/assets/images/account-w.svg) center no-repeat;
    }
    
    /* General */
    .dashboard-top{
        display:none;
    }
    .fixed-top-search{
        display:none !important;
    }
}