<div class="main-carousel">

  <!-- Content DOWN Here -->

  <app-header></app-header>
<div class="container cn full-h">
    <div class="row">
        <div class="col-sm-12 col-md-12 slide-info">
      
            
            <h1>Fitness on the go. Fitness for all.</h1>
            <small>Accessible Training Programs in all stages of life.</small>
            <br><br>
            <button class="free-trial">Start your Free Trial</button> <button class="login">Log In</button>
      
        </div>
      </div>
      
</div>

  <!-- Content UP Here -->

</div>

<!-- Section 2 -->

<section class="about-otm container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-12">
          <h2 class="otm-h2-icon">{{ title }}</h2>

          <p>We give you the best strategy on how to fit a quick and effective workout into your busy schedule. You can maintain a healthy lifestyle regardless of what stage of life you are in.</p>
      </div>
    </div>
</section>

<!-- Breaker -->

<section class="breaker-home"></section>

<!-- Meet the Team -->
<section class="the-team">
    <div class="container">
        <h2 class="otm-h2">Meet the Team</h2>
        <div class="row">
            <div id="team-carousel" class="owl-carousel owl-theme">
    
    
                  <div class="team-member">
                    <span class="team-circle"></span>
                    <h5>Valentina Rodríguez</h5>
                    <p class="card-text">
                      Valentina has been involved in fitness since her early years passing through several sports. After graduating, Valentina joined the crossfit community where she met her Coach and now husband Coach Mono. 
    2 pregnancies and a couple of years later, she strongly believes the human body can achieve incredible and positive results when it is well guided and constantly challenged. 
    
                    </p>
                    <span class="company-position">Founder</span>
                  </div>
        
              </div>
        </div>
    </div>
</section>

<!-- Are you ready? -->

<section class="ready container">
  <div class="row">
      <div class="col-md-12">

          <h2 class="otm-h2">Are you ready?<br>
          <span class="otm-sub">Choose the best plan for you</span></h2>
          <!-- Plans -->
          <div id="plans" class="owl-carousel owl-theme">
    
              <!-- Pregnant -->
              <div class="plan">
                <h5 class="pregnant">Pregnant Program</h5>
                <h3>1 Month<br>
                <span class="price-plan">$15.99</span></h3>
                <p class="card-text">
                <strong>Includes:</strong>
                </p>
                <ul>
                  <li>Full programming</li>
                  <li>Coaching</li>
                  <li>Video movement standards</li>
                </ul>
              </div>

              <!-- Day or Night Program -->
              <div class="plan">
                <h5 class="day-night">Day or Night Program</h5>
                <h3>1 Month<br>
                <span class="price-plan">$17.99</span></h3>
                <p class="card-text">
                <strong>Includes:</strong>
                </p>
                <ul>
                  <li>Full programming</li>
                  <li>Coaching</li>
                  <li>Video movement standards</li>
                </ul>
              </div>

              <!-- Gym Program -->
              <div class="plan">
                <h5 class="gym-program">Gym Program</h5>
                <h3>1 Month<br>
                <span class="price-plan">$25.99</span></h3>
                <p class="card-text">
                <strong>Includes:</strong>
                </p>
                <ul>
                  <li>Full programming</li>
                  <li>Coaching</li>
                  <li>Video movement standards</li>
                </ul>
              </div>
    
          </div>
  
          <!-- Plans end -->

          <p class="gray-text"><span class="purple-text">7-day free trial</span><br>
              Special offers & exclusive content<br>
              New recipes & workouts weekly</p>

              <button class="free-trial">Start your Free Trial</button>

      </div>
  </div>
</section>

<!-- Newsletter - Don’t Miss a Thing -->
<section class="newsletter">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">

        <h2><strong>Don't Miss a Thing</strong>
          <br>
          <span>Sign Up For The Newsletter</span>
        </h2>

        <!-- Newsletter Form -->
        <form class="col-md-5">
            <div class="form-group">
              <label for="yourname">Name</label>
              <input type="text" class="form-control" id="yourname" placeholder="Your name">
              
              <label for="youremail">Email</label>
              <input type="email" class="form-control" id="youremail" placeholder="Your email">
              <label for="exampleFormControlSelect1">Sex</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <input type="submit" value="SEND ME INFORMATION" class="submit-newsletter">
        </form>

        <div class="follow-otm col-md-5">
            <h2><strong>Follow on the minute</strong></h2>
            <ul>
                <li><a href="" class="facebook"><span class="invisible">facebook</span></a></li>
                <li><a href="" class="instagram"><span class="invisible">instagram</span></a></li>
                <li><a href="" class="twitter"><span class="invisible">twitter</span></a></li>
                <li><a href="" class="youtube"><span class="invisible">youtube</span></a></li>
                <li><a href="" class="pinterest"><span class="invisible">pinterest</span></a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>