<app-header-purple></app-header-purple>

<section class="container blog">
    <div class="row">
        <div class="col-12 col-md-9 margin-top-7">
            
            <!-- Search Bar -->
            <form class="d-sm-none d-md-block fixed-top-search top-search-visible">
                    <input type="search" placeholder="Search articles, food, fitness, yoga…" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                    <button class="search-btn searchbox-icon" type="submit"><span class="invisible">Search</span></button>
            </form>
            <!-- Search Bar END -->
            
            <!-- Blog Posts Grid -->
            
            <div class="row">
                <div class="col-12 col-md-6">
                    
                    <div class="card post-card">
                      <a routerLink="../blog-post">
                      <img src="./assets/images/exercise.png" class="card-img-top" alt="exampleimg">
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">Fitness for a Better Life, Not a Better Score</h5>
                        <p class="card-text">BY VALENTINA GONZALEZ | 30 JANUARY, 2019</p>
                      </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-6">
                    
                    <div class="card post-card">
                      <img src="./assets/images/exercise.png" class="card-img-top" alt="exampleimg">
                      <div class="card-body">
                        <h5 class="card-title">Fitness for a Better Life, Not a Better Score</h5>
                        <p class="card-text">BY VALENTINA GONZALEZ | 30 JANUARY, 2019</p>
                      </div>
                    </div>
                    
                </div>
                
                <div class="col-12 col-md-6">
                    
                    <div class="card post-card">
                      <img src="./assets/images/exercise.png" class="card-img-top" alt="exampleimg">
                      <div class="card-body">
                        <h5 class="card-title">Fitness for a Better Life, Not a Better Score</h5>
                        <p class="card-text">BY VALENTINA GONZALEZ | 30 JANUARY, 2019</p>
                      </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-6">
                    
                    <div class="card post-card">
                      <img src="./assets/images/exercise.png" class="card-img-top" alt="exampleimg">
                      <div class="card-body">
                        <h5 class="card-title">Fitness for a Better Life, Not a Better Score</h5>
                        <p class="card-text">BY VALENTINA GONZALEZ | 30 JANUARY, 2019</p>
                      </div>
                    </div>
                    
                </div>
                
                <div class="col-12 col-md-6">
                    
                    <div class="card post-card">
                      <img src="./assets/images/exercise.png" class="card-img-top" alt="exampleimg">
                      <div class="card-body">
                        <h5 class="card-title">Fitness for a Better Life, Not a Better Score</h5>
                        <p class="card-text">BY VALENTINA GONZALEZ | 30 JANUARY, 2019</p>
                      </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-6">
                    
                    <div class="card post-card">
                      <img src="./assets/images/exercise.png" class="card-img-top" alt="exampleimg">
                      <div class="card-body">
                        <h5 class="card-title">Fitness for a Better Life, Not a Better Score</h5>
                        <p class="card-text">BY VALENTINA GONZALEZ | 30 JANUARY, 2019</p>
                      </div>
                    </div>
                    
                </div>
            </div>
            
            <!-- Blog Posts Grid END -->
            
        </div>
        
        <aside class="col-12 col-md-3">
            <h2>Popular Topics</h2>
        </aside>
    
    </div>
</section>
<!-- Follow the minute -->
<section class="newsletter">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">

        <div class="follow-otm col-md-5">
            <h2><strong>Follow on the minute</strong></h2>
            <ul>
                <li><a href="" class="facebook"><span class="invisible">facebook</span></a></li>
                <li><a href="" class="instagram"><span class="invisible">instagram</span></a></li>
                <li><a href="" class="twitter"><span class="invisible">twitter</span></a></li>
                <li><a href="" class="youtube"><span class="invisible">youtube</span></a></li>
                <li><a href="" class="pinterest"><span class="invisible">pinterest</span></a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>